.default,
.lightmode {
    --background-color: #f0f0f0;
    --navbar-color    : rgba(240, 240, 240, 0.9);
}

.darkmode {
    --background-color: #222;
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color: #222;
    }
}

body {
    background-color: var(--background-color);
    font-family     : 'Nunito', sans-serif;
}

.navbar {
    margin: auto 5%;
    height: 4rem;
}

.title-name {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-link {
    color: white;
}

/* Body */

.body {
}


@media only screen and (max-width: 768px) {}