.default,
.lightmode {
    --background-color: #f0f0f0;
    --navbar-color    : rgba(240, 240, 240, 0.9);
}

.darkmode {
    --background-color: #222;
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color: #222;
    }
}

body {
    background-color: var(--background-color);
    font-family     : 'Nunito', sans-serif;
}

.navbar {
    margin: auto 5%;
}

.title-name {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.bg-img {
    background-image   : url('/assets/images/home-bg.jpg');
    background-position: center;
    background-size    : cover;
    height             : 24rem;
}

.bg-img-filter {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter : blur(1px);
    height          : 100%;
    width           : 100%;
}

@media only screen and (max-width: 768px) {}