.default,
.lightmode {
    --background-color: #f0f0f0;
    --navbar-color    : rgba(240, 240, 240, 0.9);
}

.darkmode {
    --background-color: #222;
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color: #222;
    }
}

body {
    background-color: var(--background-color);
    font-family     : 'Nunito', sans-serif;
}

.navbar {
    padding: 0 10%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.title-name {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-link {
    color: white;
    margin: auto 0.5rem;
}

/* Body */

.intro {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    justify-content: space-evenly;
    padding: 0 10%;
}

.title {
    width: 65%;
    color: white;
    margin-left: 5%;
}

.title-text-1 {
    font-size: 2rem;
}

.title-text-2 {
    font-size: 4rem;
    font-weight: 700;
}

.title-text-3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.dock {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    justify-content: flex-start;
}

.social-anchor {
    margin: 0 1rem;
    color: white;
}

.picture {
    width: 35%;
    text-align: center;
}

.home-content{
    background-color: #eee;
    height: 100rem;
}

@media only screen and (max-width: 768px) {}